<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
  </head>
  <body>
    <h1> Sign Up </h1>
    <form action="/register" method="post">
    <input type="text" name="name" placeholder="Enter your name"><br>
    <input type="text" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Don't worry we won't tell anyone..."><br>
    <input type="password" name="password_confirmation" placeholder="One more time for the cheap seats in the back..."><br>
    <input type="submit" value="Submit">
    </form>
    
    <a href="/login">Log In</a>

  </body>
</html>
