<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <link rel='stylesheet' href=stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='webshim-1.16.0/js-webshim/minified/polyfiller.js'></script>
    <script src='../public/calendar.js'></script>5r -->
  </head>
  <body>
    <p class="logo"><a href="/"><img src="Logo.png"></a></p>
    <h2>Sign up</h2>
    <h3><%= flash[:notice] %></h3>
    <div class="main">
    <form action="/register" method="post" class="form">
    <input type="text" name="name" placeholder="Enter your name"><br>
    <input type="text" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password_confirmation" placeholder="Password again"><br>
    <input type="submit" value="Submit">
    </form>
    </div>

    <a class="login" href="/login">Log in</a>

  </body>
</html>
