<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In Page</title>
    <link rel='stylesheet' href=stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap" />
  </head>
  <body>
    <p class="logo"><a href="/"><img src="Logo.png"></a></p>
    <h2> Log In </h2>
    <div class="main">
    <form action="/login" method="post">
    <input type="text" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="submit" value="Log In">
    </form>
    </div>
  </body>
</html>
