<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new space</title>
    <link rel='stylesheet' href=/../stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"/>
  </head>
  <body>
    <p class="logo"><a href="/"><img src="/../Logo.png"></a></p>
  <% if @user %>
  <h2>Add a new space</h2>
  <div class="main">
    <form class ="newspaceform" action="/spaces/new" method="post">
    <input type="text" name="name" placeholder="Enter your space name"><br>
    <input type="text" name="description" placeholder="Describe your space"><br>
    <input type="text" name="street_address" placeholder="Address"><br>
    <input type="text" name="city" placeholder="City"><br>
    <input type="text" name="country" placeholder="Country"><br>
    <input type="text" name="postcode" placeholder="Postcode"><br>
    <input type="text" name="price" placeholder="Price per night"><br>
    <input type="submit" value="Submit">
    </form>
    </div>
    <a class="request" href="/requests">View your Requests</a>
    <a class="login" href="/logout">Log Out</a>
    <% else %>
    <h2>You've gone too far stanger</h2>
    <div class="main">
    <a class="homepagelink" href="/">Home Page</a>
    </div>
    <% end %>
  </body>
</html>
