<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new space</title>
    <link rel='stylesheet' href=/../stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"/>
  </head>
  <body>
  <% if @user %>
    <form class ="newspaceform" action="/spaces/new" method="post">
    <input type="text" name="name" placeholder="Enter your space name"><br>
    <input type="text" name="description" placeholder="Describe your space"><br>
    <input type="text" name="street_address" placeholder="Address"><br>
    <input type="text" name="city" placeholder="City"><br>
    <input type="text" name="country" placeholder="Country"><br>
    <input type="text" name="postcode" placeholder="Postcode"><br>
    <input type="text" name="price" placeholder="Price per night"><br>
    <input type="submit" value="Submit">
    </form>
    <% else %>
    You've gone too far stanger
    <a href="/">Home Page</a>
    <% end %>
  </body>
</html>
