<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new space</title>
  </head>
  <body>
    <form action="/spaces/new" method="post">
    <input type="text" name="name" placeholder="Enter your space name"><br>
    <input type="text" name="description" placeholder="Describe your space"><br>
    <input type="text" name="street_address"><br>
    <input type="text" name="city"><br>
    <input type="text" name="country"><br>
    <input type="text" name="postcode"><br>
    <input type="number" name="price"><br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
