<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spaces</title>
  </head>
  <body>
    <% if @user %>
      <h1>Welcome <%=@user.name%></h1>
    <% end %>

    <ul>
      <%@spaces.each do |space| %>
    <li><%=space.name%>
    <%=space.description%>
    <%=space.price%></li>
    <%end%>
    </ul>

  </body>
</html>
