<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spaces</title>
  </head>
    <body>
      <h1><%=space.name%></h1>
      <h2><%=space.description%></h2>
      <h2><%=space.price%></h2>
      <form action="/requests" method='post'> 
        <input type="submit" value="Request to book">
      </form>
    </body>
  </html>