<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spaces</title>
    <link rel='stylesheet' href=/../stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"/>
  </head>
    <body>
      <!-- <div class="main"> -->
      <h1>Name: <%=@space.name%></h1>
      <h2>Description: <%=@space.description%></h2>
      <h2>£<%=@space.price%> per night</h2>
      <form action="/requests" method='post'>
        <input class="request" type="submit" value="Request to book">
      </form>
      <!-- </div> -->
    </body>
  </html>
