<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spaces</title>
    <link rel='stylesheet' href=/../stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"/>
  </head>
    <body>
    <p class="logo"><a href="/"><img src="../Logo.png"></a></p>
      <!-- <div class="main"> -->
      <h1>Name: <%=@space.name%></h1>
      <h2>Description: <%=@space.description%></h2>
      <h2>£<%=@space.price%> per night</h2>
      <h2>Book your dates:</h2>
      <form action="/requests" method='post' class="ws-validate">

      <div class="form-row">
          <input type="date" class="hide-replaced" name='start_date'/>
      </div>
      <div class="form-row">
          <input type="date" class="hide-replaced" name='end_date' />
      </div>
      <!-- <div class="form-row">
          <input type="submit" />
      </div> -->
        <input class="request" type="submit" value="Request to book">
      </form>
      <!-- </div> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src='../calendar.js'></script>
      <script src='webshim-1.16.0/js-webshim/minified/polyfiller.js'></script>
    </body>
  </html>
