*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/22/240/855/texture-gradient-simple-background-blue-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    background-attachment: fixed;
    font-family: "Lato";
}
h1 { color: #fe921f;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: bold;
    line-height: 58px;
    height: 100px;
    width: 100%;
    line-height: 400px;
    text-align: center;
}
h2 {
    color: #fe921f;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: bold;
    line-height: 58px;
    margin: 0 0 58px;
    height: 100px;
    width: 100%;
    line-height: 400px;
    text-align: center;
}
.newspace{
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 1px;
    margin: 30px 45%;
    padding: 5px 0;
    text-transform: uppercase;
    border-radius: 10px;
}
.newspace:hover{
    background-color: black;
}
h4 {
  color: #fe921f;
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  font-weight: bold;
  margin: 0 0 58px;
  height: 100px;
  width: 100%;
  line-height: 400px;
  text-align: center;
}
.main{
    text-align: center;
    width: 60%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    border: 10px solid whitesmoke;
    border-radius: 25px;
    border-color: #fe921f;
}
p {
    color: #fe921f;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: bold;
    line-height: 58px;
    margin: 0 0 58px;
    position: absolute;
    left: 0;
    top: 10px;

}
input[type=text], [type=password], [type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
  }

.login{
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
}
.login:hover{
    background-color: black;
}
a {
    border-bottom: 1px solid unset;
    color: #fe921f;
    padding-bottom: .25em;
    text-decoration: none;
  }
::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-align: center;
}
input[type=submit] {
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 10px 10px 30px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}
input[type=submit]:hover {
    background-color: black;
    cursor: pointer;
}
ul {
    color: #fe921f;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border: 10px solid whitesmoke;
    border-radius: 25px;
    border-color: #fe921f;
    list-style: none;
}

.newspaceform{
    width: 50%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 10px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
}

.homepagelink{
  background: #fe921f;
  color: #ffffff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 1px;
  margin: 30px 45%;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  border-radius: 10px;
  }

.homepagelink:hover{
    background-color: black;
  }

input[type=submit].request{
  background: #fe921f;
  color: #ffffff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 1px;
  margin: 30px 45%;
  padding: 5px 5px;
  text-transform: uppercase;
  border-radius: 10px;
  position: absolute;
  top: 480px;
  width: 20%;
  right: -80px;
}
input[type=submit].request:hover {
    background-color: black;
    cursor: pointer;
}
